{% extends 'base.html' %}
{% block header %}
<h1 class="title">{% block title %}Login{% endblock %}</h1>
{% endblock %}
{% block content %}
    <form class="form" method='POST'>
        <label for="username">Usuario</label>
        <input type="text" name="username" id="username" required placeholder="Escribe aquí tu numbre de usuario">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required placeholder="*******">
        <button class="btn-form" type="submit">Register</button>
    </form>
{% endblock %}

