{% extends 'base.html' %}

{% block header %}
<h1 class="title">{% block title %}Lista de Tareas{% endblock %}</h1>

 {% endblock %} 
{% block content %}
<ul>
  {% for tarea in tareas %}
  <li></li>
    <div class="todo">
        <h1>
            {% if tarea['completed'] == 1 %}
            <strike>{{ tarea['description'] }}</strike>
            {% else %}
            {{ tarea['description'] }}
            {% endif %}
        </h1>
        <div class="about"><span>Creado: </span>{{ tarea['created_at'].strftime('%HH-%MM') }}</div>

        <a class="actualizar" href="{{ url_for('todo.actualizar', id=tarea['id']) }}"><i class="material-icons">edit</i>Actualizar</a>
        <a class="eliminar" href="{{ url_for('todo.eliminar', id=tarea['id']) }}"><i class="material-icons">delete</i>Eliminar</a>
    </div>
  {% if not loop.last %}
    <hr>
  {% endif %}
  {% endfor %} 
         {% if g.user %}
         <a class="new" href="{{ url_for('todo.crear') }}"><i class="material-icons">add</i></a>
        {% endif %}
</ul>
{% block modal %}

{% endblock %}

{% endblock %}

{% block script %}
  {% endblock %}

